.content-section {

}

/* body {
    width: 100%;
} */

.address {
    display: flex;
    flex-direction: column;
    text-underline-offset: 2px;
    line-height: 135%;

}
/* HEADER */
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px;
    font-size: 18px;
}

.header__menu {

}

.header__links-list {
    display: flex;
    gap: 33px;
    align-content: center;
    list-style-type: circle;
    text-underline-offset: 2px;
}

.header__links-list-item {
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__link {

}

.header__link_active {
    
}

.header__logo {

}

.header__logo-image{
    width: 135px;
    height: auto;
}

.header__address {
    justify-self: end;    
    max-width: 240px;

}

.header__address-item {
    font-style: normal;
}

p.header__address-item {
}

/* COVER */
.cover {
    margin-bottom: 180px;
    background-image: url("../images/cover.jpg");
    background-size: cover;
    min-height: 757px;
    position: relative;
    color:white;
    background-position: center;
    background-repeat: no-repeat;
    /* padding: 165px 0px 50px ; */

}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
    position: relative;
    font-size: 100px;
    text-transform: uppercase;
    width: 100%;
    display: grid;
    gap:20px;
    font-weight: bold;
    padding: 165px 50px 106px 50px;
}
.aligned-text {
    letter-spacing: 0.3em;
    display: block;
    line-height: 115%;
    /* text-align: center; */
}

.aligned-text_left {
    text-align: left;
    /* margin-left: 50px; */
}

.aligned-text_center {
    /* text-align: center; */
    margin-left: 331px;
}

.aligned-text_right {
    text-align: right;
    margin-left: 613px;

}

.cover__discription {
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: relative;
    line-height: 127%;
    z-index: 1;
    font-size: 22px;
    margin: 0px 50px;
    
}

.cover__discription-text {
    text-transform: uppercase;
    font-weight: normal;
    word-spacing:1.2rem;
}

.bet-button {
    text-transform: uppercase;
    color:white;
    font-weight: normal;
    background-color: rgba(255, 255, 255, 0);
    padding: 12px 32px 11px 31px;
    border-width: 1px;
    border-color: white;
    cursor: pointer;

}


/* LOTS */
.lots {
    margin-bottom: 120px;
    padding: 0 24px;
}

.lots__heading {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 27px;
    margin-left: 40px;

}

.lots__card-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    margin-bottom: 30px;
}

.lots__card-list-item {
    width: 334px ;
    min-height: 596px;
    display: flex;
    flex-direction: column;
}

.card-link {
    position: relative;
    height: 100%;
    
}

.card {
    display: grid;
    height: 100%;
    padding: 48px 40px;
    color: white;
    align-content: space-between;
}

.card_type_film {
    background: url("../images/card-lot-01.jpg");
    background-position: center;
    background-size: cover;
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
    background-position: center;
    background-size: cover;
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
    background-position: center;
    background-size: cover;
}
.card__title {
    position: relative;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    z-index: 1;
}

.card__text {
    position: relative;
    font-size: 20px;
    font-weight: normal;
}

.lots__look-more-link {
    font-size: 20px;
    text-underline-offset: 6px;
    margin-left: 40px;
}

/* ABOUT */
.about {
    margin-bottom: 180px;
    display: grid;
    grid-template-columns: 240px auto;
    justify-content: space-between;
    gap: 72px;
    padding: 0 24px;
    height: 595px;
    padding-left: 71px;
    
}

.about__logo{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 240px;
    margin-top: 35px;
    height: 240px;
}

.about__logo-image{
    width: 148px;
    height: 114px;
}

.about__column {

}

.about__content {
    margin-top: 133px;
}

.about__title {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 100px;
}

.about__text {
    font-size: 20px;
    font-weight: normal;
    display: grid;
    gap: 24px;
    line-height: 120%;
    max-width: 690px;
}


/* FOOTER */
.footer {
    font-size: 18px;
    padding: 0px 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    align-items: start;
    min-height: 180px;
}

.footer__address {
    max-width: 250px;


}

.footer__address-item {

}

.footer__menu {
    text-align: center;
    justify-self: center;
}

.footer__menu-item {
    list-style-type: none;
}

.footer__menu-item_active {

}

.footer__menu-link {

}

.footer__socials {
    display: flex;
    gap: 48px;
    list-style-type: none;
    justify-self: end;
}

.footer__socials-item {

}

.footer__socials-link {

}

.footer__socials-img {
    width: 48px;
    height: 48px;
}